@page "/{culture:nonfile?}"
@* @page "/{culture}" *@
@using BlazorLocalizationTest.Resources
@using Microsoft.Extensions.Localization
@using Utils

@inject IStringLocalizer<ApplicationResource> localizer

<PageTitle>@localizer[Constants.homePage]</PageTitle>

<h1>@localizer[Constants.homePage]</h1>

@localizer[Constants.homePage]

<br />
<br />

<p>(Image path from resource file)</p>
<img src="images/@localizer[Constants.mainImagePath]" alt="@localizer[Constants.mainImageAltText]" height="300" />
<br>
<hr>
<br>
<p>(Image path without using resource file)</p>
<img src="images/@_culture/animals.png" alt="@localizer[Constants.mainImageAltText]" height=" 300" />

@code {
    private string _culture;

    [Parameter]
    public string? culture
    {
        set 
        {
            _culture = value ?? "en";
        }
    }

    protected override async Task OnInitializedAsync()
    {
    }
}