@inject IStringLocalizer<ApplicationResource> localizer

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <PageTitle>@localizer["pageWasNotFound"]</PageTitle>
                <h1>@localizer["pageWasNotFound"]</h1>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
